* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primarycolor: #f9f4f3;
  --secondarycolor: #351f1b;
  --tertiarycolor: #d4376d;
  --quaternarycolor: #f86830;
  --blue: #3d65ba;

  --font-title: "Passion One", sans-serif;
  --font-highlight: "Margarine", sans-serif;
  --font-body: "Meera Inimai", sans-serif;
}


/* BODY */
body {
  background: var(--primarycolor);
  color: var(--secondarycolor);
  font-family: var(--font-body);
  margin: 0;

}



/* NAV */
nav ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  padding: 3rem;
}

nav a {
  text-decoration: none;
  font-family: var(--font-title);
  background: var(--tertiarycolor);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  transition: 0.3s;
  font-size: 1.5rem;
}

nav a:hover {
  background: var(--quaternarycolor);
}


/* HERO */

#hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


/* subtitle */
#hero h4 {
  margin-top: 1rem;
  font-size: 2rem;
}


/* icon */
.scroll i {
  font-size: 4.5rem;
  animation: rocketDown 1.5s infinite;
    color: var(--tertiarycolor);
}

/* animation */
@keyframes rocketDown {
  0% {
    transform: translateY(0) rotate(180deg);
  }
  50% {
    transform: translateY(1rem) rotate(180deg);
  }
  100% {
    transform: translateY(0) rotate(180deg);
  }
}



/* scroll hint */
.scroll {
  position: absolute;
  bottom: 2rem;
  font-size: 1rem;
  opacity: 0.7;
  animation: bounce 1.5s infinite;
}

@keyframes bounce {
  0% { transform: translateY(0); }
  50% { transform: translateY(0.5rem); }
  100% { transform: translateY(0); }
}




h1 {
  font-size: 14rem;
  color: var(--blue);
  animation: fadeIn 1.5s ease;
  font-weight: 700;
}

h4 {
  font-family: var(--font-highlight);
  color: var(--tertiarycolor);
  font-size: 2rem;
}

/* SECTIONS */

section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}


#geschmack article {
  min-height: 300px; /* wichtig! */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

/* Schoggi */
.schoggi {
  background: var(--secondarycolor);
  color: white;
}

/* Ananas */
.ananas {
  background: var(--primarycolor);
  color: var(--secondarycolor);
}

/* Orange */
.orange {
  background: var(--quaternarycolor);
  color: white;
}

/* Text Styling inside Geschmack */
#geschmack h2 {
  font-size: 4rem;
  margin-bottom: 10px;
}

#geschmack p {
  max-width: 500px;
  text-align: center;
  font-size: 1.2rem;
}

#geschmack article {
  transition: 0.3s;
}

#geschmack h2,
#geschmack p {
  transition: 0.3s;
}

#geschmack article:hover h2 {
  transform: translateY(-10px);
}

#geschmack article:hover p {
  transform: translateY(-5px);
}




